<%- contentFor('main') %>
    <div class="box-central">
        <img class="foto-animal" src="http://localhost:3000/files/<%=result.imagem%>" alt="Animal">
        <p class="txt-info">Dados sobre: <span><%=result.nome_animal%></span></p>
        <p class="especie font-dados">Espécie: <span><%=result.especie%></span></p>
        <p class="sexo font-dados">Sexo: <span><%=result.sexo%></span></p>
        <p class="status font-dados">Status: <span>Disponível</span></p>
        <p class="tamanho font-dados">Tamanho:</p>
        <%if(result.tamanho == 'P'){%>
            <p class="tam-p tamanho-selected font-tam">P</p>
            <p class="tam-m tamanho-nao_selected font-tam">M</p>
            <p class="tam-g tamanho-nao_selected font-tam">G</p>
        <%} else if(result.tamanho == 'M'){%>
            <p class="tam-p tamanho-nao_selected font-tam">P</p>
            <p class="tam-m tamanho-selected font-tam">M</p>
            <p class="tam-g tamanho-nao_selected font-tam">G</p>
        <%} else{%>
            <p class="tam-p tamanho-nao_selected font-tam">P</p>
            <p class="tam-m tamanho-nao_selected font-tam">M</p>
            <p class="tam-g tamanho-selected font-tam">G</p>
        <%}%>
        <p class="cidadeAnimal font-dados">Cidade: <span><%=result.cidade%>/<%=result.estado%></span> </p>
        <p class="observacoes font-dados">Observações:</p>
        <p class="txt-observacoes"><%=result.observacoes%></p>
        <p class="doador">Cadastrado por:</p>
        <p class="nome-doador"><%=result.nome%></p>
        <div>
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div>
                                <p class="informacoes"><span class="editar1">Para adotar ou saber mais sobre este
                                        peludo, entre em contato:</span>
                                    <br> <span class="editar2">Registrado por:</span> <%=result.nome%> <br>
                                    <img src="/images/animal/whats.png" alt="whatsapp">
                                    <span class="numero"><%=result.whatsapp%></span><span class="frase-numero">Informe 
                                        ao doador que conheceu anúncio dele aqui no MeAdota.</span> <br>
                                    <img src="/images/animal/email.png" alt="e-mail">
                                    <span class="txt-email"><%=result.email_usuario_fk%></span> <br><br>

                                    <span class="atencao">Atenção!</span><br>
                                    A venda de animais não é permitida aqui no MeAdota!
                                    <br><br>
                                    <span class="obrigado">O MeAdota agradece!</span>
                                    <br> <br>
                                    <span class="final">Antes de adotar um bichinho tenha em mente que:</span><br>
                                    - Se você for um dono de primeira viagem, saiba que reservar um local da casa para ser o cantinho do seu pet é um ótimo começo! <br>
                                    - Os animais são como crianças pequenas que precisam de atenção e carinho.<br>
                                    - Caso resolva viajar, sempre deixe seu bichinho com alguém com que ele(a) tenha intimidade e que seja de confiança. <br>
                                    -  Novas despesas aparecerão como: veterinário, vacina, rações e produtos para deixar seu bichinho o mais lindo possível.<br>
                                </p>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="button-ok" data-dismiss="modal">Ok</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button type="button" class="font-button-quero-adotar button-adotar" data-toggle="modal"
            data-target="#exampleModal">
            Quero Adotar
        </button>
        <footer class="footer-animal font-footer">Copyright © 2020 MeAdota. Alguns direitos reservados.</footer>
    </div>